.unifrakturmaguntia-regular {
    font-family: "UnifrakturMaguntia", cursive;
    font-weight: 400;
    font-style: normal;
  }

  .cedarville-cursive-regular {
    font-family: "Cedarville Cursive", cursive;
    font-weight: 400;
    font-style: normal;
  }  
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

*, *::before, *::after {
    box-sizing: border-box;
}


:root {
    background: #1A1E2E;
    background: linear-gradient(90deg, rgba(26, 30, 46, 1) 0%, rgba(26, 30, 46, 1) 50%, rgba(0, 0, 0, 1) 100%);
}

html, body {
    font-size: 16px;
    margin: 0;
    padding: 0;
    height: 100%;
}

.main-container {
    display: flex;
    height: 100vh;
}

.left-side, .right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left-side {
    width: 40%;
    background-image: url(harbor.png);
    background-size: cover;
    background-position: 95%;
    display: flex;
    color: green;
    justify-content: center;
    align-items: center;
}

.logo-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: min(400px, 25%);
    background-color: rgba(0, 0, 0, 0.5);
    transform: translateY(-80%);
}

.logo {
    width: 25%;
    height: 80%;
    margin-right: 1rem;
    filter: invert(100%) sepia(0%) saturate(6940%) hue-rotate(130deg) brightness(136%) contrast(83%);
}

#company-name {
    font-size: clamp(1rem, 3vw, 5rem);
    color: white;
    font-family: "UnifrakturMaguntia";
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.right-side {
    width: 60%;
    display: flex;
    justify-content: flex-start;
    align-items: start;
    flex-direction: column;
    color: rgb(184, 184, 184);
    font-size: clamp(1rem, 2vw, 2.5rem);
}

.hero-content {
    display: flex;
    width: 100%;
    height: min(400px, 30%);
    display: flex;
    padding: 8%;
    flex-direction: column;
    justify-content: center;
}

#hero-text {
    text-align: center;
    margin: 0 auto;
    color: rgb(184, 184, 184);
    font-family: "Cedarville Cursive", cursive;
    font-style: italic;
    font-size: clamp(1rem, 1.75vw, 3rem);
}

.hero-content p {
    align-self: flex-end;
    margin-top: 10px;
    opacity: 0.8;
    font-size: clamp(1rem, 1.5vw, 2rem);
    color: rgb(184, 184, 184);
}

.form-container {
    display: flex;
    width: 100%;
    height: min(875px, 55%);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5%;
    flex-direction: column;
    box-shadow: 0px 10px 15px 3px #000000;
}

.form-container p {
    font-size: clamp(1rem, 1.65vw, 2.5rem);
    padding-bottom: 3%;
}

.form-content {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
}

.form-content > * {
    flex: 1 1 45%;
    margin: 2.5%;
    font-size: clamp(1rem, 1.25vw, 1.75rem);
    color: white;
    display: flex;
    flex-direction: column;
}

.form-field label {
    font-family: 'Cinzel', serif;
    margin-bottom: 4px;
    color: #bbb;
    letter-spacing: 1px;

}

.form-field input {
    width: 75%;
    background-color: rgba(0, 0, 0, 0.6);
    border: 1px solid #888;
    border-radius: 4px;
    padding: 10px;
    color: #eee;
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
    transition: box-shadow 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.form-field input::placeholder {
    color: #666;
    font-style: italic;
}

.form-field input:focus,
.form-field input:hover {
    outline: none;
    border-color: #aaa;
    box-shadow: 0 0 20px rgba(100, 100, 255, 0.5);
    background-color: rgba(0, 0, 0, 0.7);
}

.form-field input:invalid {
    border: 1px solid crimson;
}

.submit-container {
    display: flex;
    padding: 3% 5%;
}

#submit-button {
    margin: 1rem;
    font-size: clamp(1rem, 2.5vw, 1.5rem);
    padding: 1rem 2rem;
    font-family: 'Cinzel', serif;
    color: antiquewhite;
    background: linear-gradient(135deg, #3a0ca3, #4361ee);
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(100, 100, 255, 0.5);
    cursor: pointer;
    transition: all 0.6s ease;
}

#submit-button:hover {
    background: linear-gradient(135deg, #4361ee, #3a0ca3);
    box-shadow: 0 0 20px rgba(100, 100, 255, 0.5);
    transform: scale(1.05);
}

.error-message {
    display: none;
    color: crimson;
    font-size: 1.25rem;
    margin-top: 5px;
}